<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}EasyPrep{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/static/main.js" defer></script>
</head>
<body>
    <div class="outer-container">
        <div class="navbar-container">
            <div class="navbar">
                <div class="logo">EasyPrep</div>
                <button class="nav-button" data-url="/login"><i class="fas fa-sign-in-alt"></i> Login</button>
                <button class="nav-button" data-url="/dashboard"><i class="fas fa-user"></i> Profile</button>
                <button class="nav-button" data-url="/home"><i class="fas fa-home"></i> Home</button>
                <button class="nav-button" data-url="/summarization"><i class="fas fa-align-left"></i> Summarization</button>
                <button class="nav-button" data-url="/question"><i class="fas fa-question-circle"></i> Ask a Question</button>
                <button class="nav-button" data-url="/important_topics"><i class="fas fa-book"></i> Important Topics</button>
                <button class="nav-button" data-url="/quiz"><i class="fas fa-question"></i> Quiz</button>
                <button class="nav-button" data-url="/mail"><i class="fas fa-comments"></i> Feedback</button>
            </div>
        </div>
        <div class="content-container">
            {% block content %}
            {% include 'home.html' %}
            {% endblock %}
        </div>
    </div>
</body>
</html>
