<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extractive Summarization</title>
    <link rel="stylesheet" type="text/css" href="\static\summarization.css">
</head>
<body>
    <div class="container">
        <h3>Extractive Summarization</h3>
        <div class="summary">
            <h5>Summary</h5>
            <p class="content">
                {{ msg }}
            </p>
        </div>
    </div>
</body>
</html>
